@inherits Umbraco.Web.Mvc.UmbracoViewPage<REDAirCalculator.Models.RegistrationModels.ChangePasswordModel>

@using Umbraco.Web
@{
    string popupCancelText = Umbraco.GetDictionaryValue("Popup cancel text");
    string changePassword = Umbraco.GetDictionaryValue("Change password label");
    string newPassword = Umbraco.GetDictionaryValue("New password");
    string passwordIsRequired = Umbraco.GetDictionaryValue("Password field is required");
    string passwordsAreDifferent = Umbraco.GetDictionaryValue("Passwords are different");
    string confirmPassword = Umbraco.GetDictionaryValue("Confirm password");
}


@using (Html.BeginUmbracoForm(
    "ChangePassword",
    "Members",
    null,
    new Dictionary<string, object> { { "class", "project-form" }, { "id", "change-password" } }))
{

    <button type="button" class="project-close-btn close btn btn-lg disabled" data-dismiss="modal" aria-label="Close">
        ✕
    </button>

    <h3 class="modal-title project-title" id="emailProjectTitle">@changePassword</h3>

    <div class="form-group" id="ChangePasswordEmail">
        <input type="text"
               class="form-control"
               id="RestoreEmailInput"
               name="MemberGuId"
               value="@((string)TempData["memberGuId"])"
               hidden
               autocomplete="off">
    </div>
    <div class="form-group">
        <label for="ChangePasswordInput"
               class="bmd-label-floating">
            @newPassword
        </label>
        <input type="password"
               class="form-control"
               id="ChangePasswordInput"
               name="NewPassword"
               data-val="true"
               data-val-required="@passwordIsRequired"
               minlength="6"
               required
               autocomplete="off">
        <span class="field-validation-valid bmd-help"
              data-valmsg-for="Password"
              data-valmsg-replace="true">
        </span>
    </div>

    <div class="form-group">
        <label for="ChangePasswordConfirmInput"
               class="bmd-label-floating">
            @confirmPassword
        </label>
        <input type="password"
               class="form-control"
               id="ChangePasswordConfirmInput"
               name="ConfirmNewPassword"
               data-val="true"
               data-val-required="@passwordIsRequired"
               data-val-regex="@passwordsAreDifferent"
               minlength="6"
               required
               autocomplete="off">
        <span class="field-validation-valid bmd-help"
              id="confirm-msg"
              data-valmsg-for="ConfirmPassword"
              data-valmsg-replace="true">
        </span>
    </div>

    <div class="project-btn-container">
        <input type="submit" class="btn primary btn-calculator float-right project-submit-btn project-email-btn" value="Ok" id="confirm-submit" />
        <button data-dismiss="modal" class="btn btn-secondary project-cancel-btn change-pass-cancel">@popupCancelText</button>
    </div>
}

<script>
    $("document").ready(function () {
        setTimeout(function () { $("#ChangePasswordInput").val(""); $("#ChangePasswordConfirmInput").val(""); }, 550);
    });

    $("#ChangePasswordInput").change(function () {
        //$("#ChangePasswordConfirmInput").attr("data-val-regex-pattern", $("#ChangePasswordInput").val());
        if ($("#ChangePasswordInput").val() !== $("#ChangePasswordConfirmInput").val()) {
            $("#confirm-submit").attr("disabled", "true");
        }
        else {
            $("#confirm-submit").removeAttr("disabled");
        }
    });
</script>
