@inherits Umbraco.Web.Mvc.UmbracoViewPage<REDAirCalculator.Models.RegistrationModels.RestorePasswordModel>

@using Umbraco.Web
@{
    string emailPopupAddressText = Umbraco.GetDictionaryValue("Email popup address text");

    string popupCancelText = Umbraco.GetDictionaryValue("Popup cancel text");
    string changePassword = Umbraco.GetDictionaryValue("Change password label");
    string passwordIsRequired = Umbraco.GetDictionaryValue("Password field is required");
    string passwordsAreDifferent = Umbraco.GetDictionaryValue("Passwords are different");
}


@using (Html.BeginUmbracoForm(
    "RestorePassword",
    "Members",
    null,
    new Dictionary<string, object> { { "class", "project-form" } }))
{
    @Html.Hidden("entryGuid", TempData["Forms_Current_Record_id"], new { id = "entryGuid_restore_password" })

    <button type="button"
            class="project-close-btn close btn btn-lg disabled"
            data-dismiss="modal"
            aria-label="Close">
        ✕
    </button>

    <h3 class="modal-title project-title" id="emailProjectTitle">@changePassword</h3>

    <div class="form-group project-input-container">
        <label for="RestorePasswordEmailAddress" class="bmd-label-floating">@emailPopupAddressText</label>
        <input required
               class="form-control"
               id="RestorePasswordEmailAddress"
               name="EmailAddress"
               data-val="true"
               data-val-required="@passwordIsRequired"
               data-val-regex="@passwordsAreDifferent" type="email" value=""
               data-val-regex-pattern="[A-Za-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?">
        <span class="field-validation-valid bmd-help"
              data-valmsg-for="RestorePasswordEmailAddress"
              data-valmsg-replace="true"></span>
    </div>

    <div class="project-btn-container">
        <input type="submit"
               class="btn btn-primary project-submit-btn project-email-btn"
               value="Recover" />
        <button type="button"
                class="btn project-cancel-btn project-email-btn forgot-pass-btn">
            @popupCancelText
        </button>
    </div>
}

